<div>
  <div>
    <p id="name">{{name}}</p>
    <p id="display_url">{{display_url}}</p>
    <p id="comment_area">{{comment_area}}</p>

  </div>
  <div>
    <p id="url">{{url}}</p>
  </div>

  <div>
    <button id="edit-item">Edit item</button>
    <button id="delete-item">Delete item</button>
  </div>

</div>

<script src="/javascript/edit-delete-item.js"></script>