<div>
<div>
  <p>{{name}}</p>  
</div>
<div>
    <ul>
        {{#each items as |item|}}
        <li>
            {{> item}}
        </li>
    </ul>
    <button href="/add-item">Add new item</button>
</div>

<button id="edit-topic">edit topic</button>
<button id="delete-topic">delete topic</button>
</div>



<script src="/javascript/edit-delete-topic.js"></script>