<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fav Dash</title>
    <link rel="stylesheet" href="">
    <script src=""></script>
</head>

<body>
    <header>
        <h1>Welcome to Fav Dash!</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a>How to use</a>
            </li>
        </ul>
    </nav>
    <main>
        <button type = "button">ADD CARD</button>

        <div class="card">

        </div>

        <footer>
            <h4> Made with ❤ by The Coding Cavillers </h4>
        </footer>

    </main>
</body>



</html>