<div>
  <a href="/dashboard">&larr; Back to dashboard</a>
  <h3>Add item:</h3>

  <input type="text" />
  <label class="name">Name</label>

  <input type="text" />
  <label class="url">Url</label>

  <input type="text" />
  <label class="display-url">Display Url</label>

  <textarea
    name="comment-area"
    class="comment-area"
    placeholder="Details here"
  ></textarea>

  <button id="add-item">Add</button>

</div>

<script src="/javascript/add-item.js"></script>