<form class="column is-6 m-5" id="add-item">
  <a href="/dashboard">&larr; Back to dashboard</a>
  <h2 class="title is-2">Add item:</h2>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input id="name" class="input" type="text" placeholder="Name" />
    </div>
  </div>

  <div class="field">
    <label class="label">Url address</label>
    <div class="control">
      <input id="url" class="input" type="text" placeholder="Url address" />
    </div>
  </div>

  <div class="field">
    <label class="label">Comments</label>
    <div class="control">
      <textarea
        id="comment-area"
        class="textarea"
        placeholder="Comments"
      ></textarea>
    </div>
  </div>

  <button class="mt-5 button is-warning" type="submit">Add</button>

</form>

<script src="/javascript/add-item.js"></script>