
<div class="columns is-mobile mt-3">
  <div class="column is-two-fifths is-offset-one-quarter">
    <textarea class="textarea" name="topic-name" id="topic-name" placeholder="Enter a New Topic"></textarea>
  </div>

  <button class="add-topic button is-white is-rounded mt-2 is-medium" id="add-topic" type="button">
    <ion-icon name="create-outline"></ion-icon>
  </button>
</div>


<div class="is-flex-wrap-wrap">
  <ul>
    {{#each topics as |topic|}}
      <li>
        {{>topic}}
      </li>
    {{/each}}
  </ul>
</div>


<script src="/javascript/add-topic.js"></script>

