<form id="update-topic">
  <textarea
    name="edit-topic"
    id="topic-name"
    placeholder="edit topic name"
  ></textarea>

  <input id="topic" type="hidden" value="{{id}}" />

  <button type="submit">Update</button>

</form>

<script src="/javascript/edit-topic.js"></script>