<form>

<div>
        <input
          type="text"
          class="name"
          name="name"
          value="{{item.name}}"
        />
        <label class="label">name</label>


   <input
          type="text"
          name="item-url"
          class="url"
          value="{{item.url}}"
        />
<label class="label">url</label>
           <input
          type="text"
          class="display-url"
          name="display-url"
          value="{{item.display_url}}"
        />

           <input
          type="text"
          class="comment-area"
          name="comment-area"
          value="{{item.comment_area}}"
        />
 

  <button id="edit-form" type="button">Update</button>

</form>

<script src="/javascript/edit-item.js"></script>