<form class="column is-6 m-5">

<a href="/dashboard">&larr; Back to dashboard</a>
  <h2 class="title is-2">Edit your favorite?</h2>
 
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input name" type="text" placeholder="Name" value="{{item.name}}">
  </div>
</div>

<div class="field">
  <label class="label">Url address</label>
  <div class="control">
    <input class="input url" type="text" placeholder="Url address" value="{{item.url}}">
  </div>
</div>

<div class="field">
  <label class="label">Comments</label>
  <div class="control">
    <textarea class="textarea comment-area" placeholder="Comments" >{{item.comment_area}}</textarea>
  </div>

  <button class="mt-5 button is-warning" id="edit-form" type="button">Update</button>

</form>




<script src="/javascript/edit-item.js"></script>