
{{#if topics.length}}
  <ul>
    <li>
      <div class="card">
        <p>Card</p>
      </div>

    </li>
  </ul>
{{else}}

  <section class="section is-large">
          <h1 class="title has-text-info-dark">Welcome To Your Favorite Bookmark Dashboard!</h1>
          <h2 class="subtitle">
                  <strong class="has-text-info">Log In</strong> to create your first bookmark
          </h2>
  </section>

{{/if}}

