<section class="section is-medium">
<div class="column is-one-third">

<form class="login-form">

<div class="field">
  <label class="label" for="username-login">Username</label>
  <div class="control">
    <input class="input is-rounded" type="text" placeholder="e.g Alex" id="username-login">
  </div>
</div>

<div class="field">
  <label class="label" for="password-login">Password</label>
  <div class="control">
    <input class="input is-rounded" type="password" placeholder="e.g. password123" id="password-login">
  </div>
</div>

<div>
    <button type="submit" class="button is-info is-rounded">Login</button>
</div>

</form>

</div>
<a href="/signup">Sign Up Instead</a>
</section>

<script src="/javascript/login.js"></script>