{{!-- <form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>
<a href="/signup">Signup Instead</a>
<script src="/javascript/login.js"></script> --}}



<div class="column is-one-third">

<form class="login-form">

<div class="field">
  <label class="label" for="username-login">Username</label>
  <div class="control">
    <input class="input is-rounded" type="text" placeholder="e.g Alex" id="username-login">
  </div>
</div>

<div class="field">
  <label class="label" for="password-login">Password</label>
  <div class="control">
    <input class="input is-rounded" type="password" placeholder="e.g. password123" id="password-login">
  </div>
</div>

<div>
    <button type="submit" class="button is-info is-rounded">Login</button>
</div>

</form>

</div>

<a href="/signup">Sign Up Instead</a>
<script src="/javascript/login.js"></script>