<div class="column is-one-third">

<form class="signup-form">

<div class="field">
  <label class="label" for="username-signup">Username</label>
  <div class="control">
    <input class="input is-rounded" type="text" placeholder="e.g Alex" id="username-signup">
  </div>
</div>

<div class="field">
  <label class="label" for="password-signup">Password</label>
  <div class="control">
    <input class="input is-rounded" type="password" placeholder="e.g. password123" id="password-signup">
  </div>
</div>

<div>
    <button type="submit" class="button is-primary is-rounded">signup</button>
</div>

</form>

</div>

<a href="/login"> Login Instead</a>
<script src="/javascript/signup.js"></script>