/* :root {
    font-family: 'Poppins', sans-serif;
} */

/* :root {
    --main-color: orange;
    --secondary-color: purple;
    --third-color: yellow;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

/* body { */
  /* COLOR OF PAGE AND FONT LANG! */
    /* color: whitesmoke;
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;

} */


 /* header styling */
 /* header {
     padding: 10px 20px;
     background-color: var(--main-color);
     border-style: solid;
     border-radius: 3px;
     border-color: var(--third-color);

 }

 header h1 {
     font-weight: bolder;
     font-size: 42px;
     color: var(--secondary-color);
     margin: 0;
     display: inline;

 }

 header a {
     text-decoration: none;
     color: var(--secondary-color);

 } */

/* nav {
     float: right;
     margin: 15px 0;

 }

 nav ul li {
     display: inline;

 }

 nav ul li a {
     margin: 0 25px;
     font-weight: bold;
     font-size: 26px;
 }

 nav {
     margin: 0 25px;
     font-weight: bold;
     font-size: 26px;
 }


 nav a {
     text-decoration: none;
     margin: 0 25px;
     font-weight: bold;
     font-size: 26px;
 }

 footer {
     padding: 20px 20px;
     background-color: var(--main-color);
     border-style: solid;
     border-radius: 3px;
     border-color: var(--third-color);
     
 }

 footer h4 {
    
     text-decoration: none;
     color: var(--secondary-color);
     display: inline;
     
 }

 footer a {
     text-decoration: none;
     color: var(--secondary-color);
     float: right;
     margin: 10px 10px;
     
 }
   */